# select a tag to deploy, available values: latest, or version tags like 1.0.0
# IMAGE_TAG=latest

# set the port for the server container it will expose the server on
# EZMALL_CONSOLE_PORT=8443
# EZMALL_MANAGER_PORT=8543
# EZMALL_WS_PORT=9190

# position of the database data to persist
DB_DATA_LOCATION=~/.ezmall/selfhosted/mysql/data

# database credentials
#DB_PASSWORD=
